<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<h2>Listado de viviendas</h2>
<ul class="list-group">
    <li class="list-group-item" *ngFor="let vivienda of viviendas" [class.selected]="vivienda === selectedVivienda" (click)="onSelect(vivienda)">
        <span>{{vivienda.tipoObjeto}}</span> {{vivienda.ubicacion.ciudad}}
    </li>
</ul>
<app-info-viviendas [vivienda]="selectedVivienda"></app-info-viviendas>