<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>{{titulo}}</h3>
                    <span *ngIf="submitted && crearEmpleado.invalid" class="badge badge-danger">Pro favor, ingrese todos los campos</span>
                    <form [formGroup]="crearEmpleado" (ngSubmit)="agregarEmpleado()">
                        <div class="row">

                            <input type="number" formControlName="idEmpleado" class="mt-2 form-control form-control-lg"
                                placeholder="ID">

                        </div>
                        <div class="row">
                            <input type="text" formControlName="nombre" class="form-control form-control-lg mt-3"
                                placeholder="Nombre">
                        </div>
                        <div class="row">
                            <div class="col"><input type="text" formControlName="email"
                                    class="form-control form-control-lg mt-3" placeholder="Email"></div>
                            <div class="col"><input type="text" formControlName="telefono"
                                    class="form-control form-control-lg mt-3" placeholder="Telefono"></div>
                        </div>
                        <div class="row">
                            <div class="col"><input type="number" formControlName="sueldobase"
                                    class="form-control form-control-lg mt-3" placeholder="Sueldo Base"></div>
                            <div class="col"><input type="number" formControlName="comisionventa"
                                    class="form-control form-control-lg mt-3" placeholder="Comision Venta"></div>
                        </div>
                        <div class="mt-3">
                           
                            <button type="submit" class="btn btn-dark btn-lg">Agregar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>